<div class="mx-auto container flex justify-between items-center gap-10 py-4 px-2">
  <Logo />
  <div class="block md:hidden" @click="toggleBurgerMenu()">
    <img class="w-10" src="../../assets/hamburger.png" alt="hamburger">
  </div>
  <div class="grow shrink flex items-start md:items-center fixed md:relative w-full md:w-auto right-0 top-0 bottom-0 md:h-full transition-all" v-bind:class="openedMenu ? 'translate-x-full' : ''">
    <div class="block md:hidden w-1/5 h-full bg-opacity-75 bg-white" @click="toggleBurgerMenu()"></div>
    <ul class="relative w-full h-full flex flex-col md:flex-row items-center gap-10 md:gap-4 bg-gray-500 md:bg-transparent py-20 md:py-0">
      <div class="block md:hidden absolute top-6 left-6 cursor-pointer" @click="toggleBurgerMenu()">
        <img class="w-6" src="../../assets/close.png" alt="close">
      </div>
      <li class="text-xl cursor-pointer font-semibold">
        <router-link :to="{ name: 'home' }">
          Home
        </router-link>
      </li>
      <li class="text-xl cursor-pointer font-semibold">
        <router-link :to="{ name: 'page-1' }">
          Page 1
        </router-link>
      </li>
      <li class="text-xl cursor-pointer font-semibold">
        <router-link :to="{ name: 'page-2' }">
          Page 2
        </router-link>
      </li>
      <li class="text-xl cursor-pointer font-semibold">
        <router-link :to="{ name: 'page-3' }">
          Page 3
        </router-link>
      </li>
      <li class="text-xl cursor-pointer font-semibold">
        <router-link :to="{ name: 'page-4' }">
          Page 4
        </router-link>
      </li>
    </ul>
  </div>
</div>