<div class="home mx-auto container">
  <Heading />
  <Paragraph />
  <Gallery />
  <!-- <lightgallery
    :settings="{
      animateThumb: false,
      zoomFromOrigin: false,
      allowMediaOverlap: true,
      toggleThumb: true,
      rowHeight: 180,
      margins: 5
    }"
    :onInit="onInit"
    :onBeforeSlide="onBeforeSlide"
  >
    <a
      v-for="(item, id) in items"
      :key="id"
      :data-lg-size="item.size"
      className="gallery-item"
      :data-src="item.src"
    >
      <img className="img-responsive" :src="item.thumb" />
    </a>
  </lightgallery> -->
  <Form />
</div>