<div class="mx-auto container flex justify-between items-center gap-10 py-4 px-2 relative">
  <span>@Copyright 2023</span>
  <div class="flex items-center gap-2">
    <a href="#" target="_blank">
      <img class="w-6" src="../../assets/icons/facebook.png" alt="Facebook">
    </a>
    <a href="#" target="_blank">
      <img class="w-6" src="../../assets/icons/instagram.png" alt="Instagram">
    </a>
    <a href="#" target="_blank">
      <img class="w-6" src="../../assets/icons/linkedin.png" alt="LinkedIn">
    </a>
    <a href="#" target="_blank">
      <img class="w-6" src="../../assets/icons/telegram.svg" alt="Telegram">
    </a>
    <a href="#" target="_blank">
      <img class="w-6" src="../../assets/icons/twitter.svg" alt="Twitter">
    </a>
    <a href="#" target="_blank">
      <img class="w-6" src="../../assets/icons/whatsapp.png" alt="WhatsApp">
    </a>
    <a href="#" target="_blank">
      <img class="w-6" src="../../assets/icons/youtube.png" alt="Youtube">
    </a>
  </div>
</div>